<body>
<div id="wrap">
  <div id="masthead">
    <h1>Sistema Financeiro de Supermecado - Mercado São Caetano</h1>
    <h2><%= link_to 'Contato', padrao_contato_path %> | <%= link_to 'Sair', logins_sair_path %> </h2>
  </div>
  <div id="container">

    <div id="content">

      <span class="titulo_formulario" style="margin-top: 40px; margin-bottom: 30px">
					Perfil do Cliente <%= @cliente.nome %>
      </span>

      <% # tabela de contas atrazadas..................................... %>
      <span id="contasAtrasada" class="titulo_formulario" style="font-size: 30px">
					Contas Atrasadas = 0
      </span>
      <div class="col-12" style="width: 1140px" >
        <div class="menuTabela" style="width: 1140px;">
          <div class="left col-1 colunaTituloComum colunaIdConta"> Id </div>
          <div class="left col-1 colunaTituloComum colunaCliente"> Funcionário </div>
          <div class="left col-5 colunaTituloComum colunaDescricao"> Descrição </div>
          <div class="left col-3 colunaTituloComum colunaValor"> Valor </div>
          <div class="left col-3 colunaTituloComum colunaData"> Data de Compra </div>
          <div class="left col-3 colunaTituloComum " style="width: 12.6%"></div>
        </div>

        <div id="tabelaContasAtrasadas" style="width: 1200px; height: 200px; overflow-y:auto; overflow-x:hidden;">
          <%
            cont = @contasAtrasadas.count - 1
             while(cont >= 0)
          %>
            <div class="menuTabela" style="width: 1140px; background: #ffffff;">
              <div class="left col-1 colunaCorpoComum colunaIdConta"> <%= @contasAtrasadas[cont].id %> </div>
              <div class="left col-1 colunaCorpoComum colunaCliente"> <%= Funcionario.pesquisaId(@contasAtrasadas[cont].funcionario)[0].nome %> </div>
              <div class="left col-5 colunaCorpoComum colunaDescricao"> <%= @contasAtrasadas[cont].descricao %> </div>
              <%if @contasAtrasadas[cont].juros > 0
                  @contasAtrasadas[cont].valor += (@contasAtrasadas[cont].juros/100) * @contasAtrasadas[cont].valor;
                end
              %>
              <div class="left col-3 colunaCorpoComum colunaValor"> <%= @contasAtrasadas[cont].valor %> </div>
              <%timer = @contasAtrasadas[cont].dataCompra
                data = timer.split(' ')[0].split('-')
                data = data[2] + '/' + data[1] + '/' + data[0] + ' ' + timer.split(' ')[1]
              %>
              <div class="left col-3 colunaCorpoComum colunaData"> <%= data %> </div>
              <div class="left col-3" style="width: 12.6%; font-size: 18px; margin-top: -43px;">
                <input style="zoom: 3;" type="checkbox" id="<%=@contasAtrasadas[cont].id%>" checked='checked' onchange="selecionarContaAtrasadaCliente(<%=@contasAtrasadas[cont].id%>, <%=@contasAtrasadas[cont].valor%>)">
              </div>
            </div>
            <script>somarContasAtrasadasCliente(<%= @contasAtrasadas[cont].valor %>)</script>
          <% cont-= 1
             end %>
        </div>
      </div>

      <% # tabela de contas devendo..................................... %>
      <span id="contasDevendoCliente" class="titulo_formulario" style="font-size: 30px">
					Contas Devendo = 0
      </span>
      <div class="col-12" style="width: 1140px" >
        <div class="menuTabela" style="width: 1140px;">
          <div class="left col-1 colunaTituloComum colunaIdConta"> Id </div>
          <div class="left col-1 colunaTituloComum colunaCliente"> Funcionário </div>
          <div class="left col-5 colunaTituloComum colunaDescricao"> Descrição </div>
          <div class="left col-3 colunaTituloComum colunaValor"> Valor </div>
          <div class="left col-3 colunaTituloComum colunaData"> Data de Compra </div>
          <div class="left col-3 colunaTituloComum" style="width: 12.6%">Selecionar</div>
        </div>

        <div id="tabelaContasDevendo" style="width: 1200px; height: 200px; overflow-y:auto; overflow-x:hidden;">
          <% cont = @contasDevendo.count - 1
             while(cont >= 0)
          %>
            <div class="menuTabela" style="width: 1140px; background: #ffffff;">
              <div class="left col-1 colunaCorpoComum colunaIdConta"> <%= @contasDevendo[cont].id %> </div>
              <div class="left col-1 colunaCorpoComum colunaCliente"> <%= Funcionario.pesquisaId(@contasDevendo[cont].funcionario)[0].nome %> </div>
              <div class="left col-5 colunaCorpoComum colunaDescricao"> <%= @contasDevendo[cont].descricao %> </div>
              <%if @contasDevendo[cont].juros > 0
                  @contasDevendo[cont].valor += (@contasDevendo[cont].juros/100) * @contasDevendo[cont].valor;
                end
              %>
              <div class="left col-3 colunaCorpoComum colunaValor"> <%= @contasDevendo[cont].valor %> </div>
              <%timer = @contasDevendo[cont].dataCompra
                data = timer.split(' ')[0].split('-')
                data = data[2] + '/' + data[1] + '/' + data[0] + ' ' + timer.split(' ')[1]
              %>
              <div class="left col-3 colunaCorpoComum colunaData"> <%= data %> </div>
              <div class="left col-3" style="width: 12.6%; font-size: 18px; margin-top: -43px;">
                <input style="zoom: 3;" type="checkbox" id="<%=@contasDevendo[cont].id%>" checked='checked' onchange="selecionarContaDevendoCliente(<%=@contasDevendo[cont].id%>, <%=@contasDevendo[cont].valor%>)">
              </div>
            </div>
            <script>somarContasDevendoCliente(<%=@contasDevendo[cont].valor%>)</script>
          <% cont-= 1
             end %>
        </div>
      </div>

      <% # tabela de contas Pagas..................................... %>
      <span id="contasPagas" class="titulo_formulario" style="font-size: 30px">
					Contas Pagas = 0
      </span>
      <div class="col-12" style="width: 1140px" >
        <div class="menuTabela" style="width: 1140px;">
          <div class="left col-1 colunaTituloComum colunaIdConta"> Id </div>
          <div class="left col-1 colunaTituloComum colunaCliente"> Funcionário </div>
          <div class="left col-5 colunaTituloComum colunaDescricao"> Descrição </div>
          <div class="left col-3 colunaTituloComum colunaValor"> Valor </div>
          <div class="left col-3 colunaTituloComum colunaData"> Data de Compra </div>
          <div class="left col-3 colunaTituloComum" style="width: 12.6%">Selecionar</div>
        </div>

        <div id="tabelaContasDevendo" style="width: 1200px; height: 200px; overflow-y:auto; overflow-x:hidden;">
          <% cont = @contasPagas.count - 1
             while(cont >= 0)
          %>
            <div class="menuTabela" style="width: 1140px; background: #ffffff;">
              <div class="left col-1 colunaCorpoComum colunaIdConta"> <%= @contasPagas[cont].id %> </div>
              <div class="left col-1 colunaCorpoComum colunaCliente"> <%= Funcionario.pesquisaId(@contasPagas[cont].funcionario)[0].nome %> </div>
              <div class="left col-5 colunaCorpoComum colunaDescricao"> <%= @contasPagas[cont].descricao %> </div>
              <%if @contasPagas[cont].juros > 0
                  @contasPagas[cont].valor += (@contasPagas[cont].juros/100) * @contasPagas[cont].valor;
                end
              %>
              <div class="left col-3 colunaCorpoComum colunaValor"> <%= @contasPagas[cont].valor %> </div>
              <%timer = @contasPagas[cont].dataCompra
                data = timer.split(' ')[0].split('-')
                data = data[2] + '/' + data[1] + '/' + data[0] + ' ' + timer.split(' ')[1]
              %>
              <div class="left col-3 colunaCorpoComum colunaData"> <%= data %> </div>
              <div class="left col-3" style="width: 12.6%; font-size: 18px; margin-top: -43px;">
                <input style="zoom: 3;" type="checkbox" id="<%=@contasPagas[cont].id%>" checked='checked' onchange="selecionarContaPagasCliente(<%=@contasPagas[cont].id%>, <%=@contasPagas[cont].valor%>)">
              </div>
            </div>
            <script>somarContasPagasCliente(<%= @contasPagas[cont].valor %>)</script>
          <% cont-= 1
             end %>
        </div>
      </div>

    </div>

  </div>
  <div id="footer"> Informações Sobre o Mercado </div>
</div>
</body>