
<% if(@resultadoCliente) %>

  <%
     valorCor = ""
     valorId = "resultadoPositivo"
     resultado = @resultadoCliente
    if resultado.split('-')[0] == 'erro'
      valorCor = "color: red"
      valorId = "resultadoNegativo"
      resultado = resultado.split('-')[1]
    end
  %>

  var div = document.getElementById('resultadoCliente');

  <%if valorId == "resultadoPositivo"%>
    div.innerHTML = "<span id='<%=valorId%>' style='<%=valorCor%>'><%=resultado%></span>";
    var tabelaCliente = document.getElementById('tabelaCliente');
    tabelaCliente.innerHTML = '';

    <% @clientes.each do |cliente| %>

      <% if cliente.cargo != "gerente" %>
      tabelaCliente.innerHTML = tabelaCliente.innerHTML +
          "<div class='menuTabela' style='width: 1140px; background: #ffffff;'>" +
          "<div class='left col-1 colunaCorpoComum colunaId'> <%= cliente.id %> </div>" +
          "<div class='left col-1 colunaCorpoComum colunaNome'> <%= cliente.nome %> </div>" +
          "<div class='left col-5 colunaCorpoComum colunaCpf'> <%= cliente.cpf %> </div>" +
          "<div class='left col-3' style='width: 10%; font-size: 18px; margin-top: -20px;'>" +
          "<a href=<%=edit_cliente_path(cliente)%> class='botao_tabela' id=<%="d-#{'edit-'+cliente.cpf}"%> >Editar</a>" +
          "</div><div class='left col-3' style='width: 10%; font-size: 18px; margin-top: -20px;'>" +
          "<a class='botao_tabela' data-remote='true' id=<%="d-#{'delete-'+cliente.cpf}"%> data-confirm='Tem certeza que deseja excluir esse Cliente?' rel='nofollow' data-method='delete' href=<%= cliente_path(cliente) %>>Deletar</a>" +
          "</div></div>";
      <%end %>
    <%end %>
  <%else %>
    <% if @cliente.errors.any? %>
      div.innerHTML = "<h2 style='<%=valorCor%>; font-size: 18px;'><%= pluralize(@cliente.errors.count, 'erros') %> antes de criar o cliente:</h2><ul>";
      var result = "";
      <%@cliente.errors.full_messages.each do |msg|%>
        result += "<li style='<%=valorCor%>; font-size: 17px;'><%= msg %></li>";
      <% end %>
      div.innerHTML += result + "</ul>";
    <% end %>
  <%end %>

<%end %>