<body>
<div id="wrap">
  <div id="masthead">
    <h1>Sistema Financeiro de Supermecado - Mercado São Caetano</h1>
  </div>
  <div id="container">

    <div id="content">

      <span class="titulo_formulario" style="margin-top: 40px">
					Login
      </span>

      <%= form_with scope: :login, url:logins_path, local:true, class:"formulario" do |form| %>

        <div class="elemento_formulario quantidade_elemento_linha_formulario_ficheiro">
          <span class="label-elemento_formulario" name="cliente">Cpf ou E-mail</span><br>
          <%= text_field_tag :email, nil, id:"emailLogin", class:"input100", placeholder:"Digite o Cpf ou o E-mail" %>
          <span class="focus-input100"></span>
        </div>

        <div class="elemento_formulario quantidade_elemento_linha_formulario_ficheiro">
          <span class="label-elemento_formulario" name="cliente">Senha</span><br>
          <%= text_field_tag :senha, nil, id:"senhaLogin", type:"password", class:"input100", placeholder:"Digite a senha" %>
          <span class="focus-input100"></span>
        </div>

        <script>selecionarEmailSenha("<%=@email%>","<%=@senha%>")</script>

        <% if(@resultadoLogin != "")
             valor = ""
             resultado =@resultadoLogin
             valorId = "resultadoPositivo"
             if resultado.split('-')[0] == 'erro'
               valor = "color: red"
               resultado = resultado.split('-')[1]
               valorId = "resultadoNegativo"
             end
        %>
          <span style="<%= valor %>" id="<%=valorId%>>" class="status_processo">
            <%= resultado %>
          </span>
        <% end %>

        <div class="div_butao_formulario">
          <button class="botao_formulario">
						<span>
							Logar
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
          </button>
        </div>

      <% end %>

    </div>

  </div>
</div>
</body>
