
<%if(@clientes != nil) %>
  var tabelaCliente = document.getElementById('tabelaCliente');
  tabelaCliente.innerHTML = '';

  <% @clientes.each do |cliente| %>

    tabelaCliente.innerHTML = tabelaCliente.innerHTML +
        "<button onclick='selecionarCpfCliente(<%=cliente.cpf %>);'>" +
        "<div class='menuTabela' style='width: 525px; background: #eeeeee; margin-left: -6px;'>" +
        "<div class='left colunaCorpoComum colunaIdFicheiro'> <%= cliente.id %>  </div>" +
        "<div class='left colunaCorpoComum colunaNomeFicheiro'> <%= cliente.nome %> </div>" +
        "<div class='left colunaCorpoComum colunaCpfFicheiro'>  <%= cliente.cpf %> </div> </div> </button>";

  <% end %>
<%end %>

<%if(@funcionarios != nil) %>
  var tabelaFuncionario = document.getElementById('tabelaFuncionario');
  tabelaFuncionario.innerHTML = '';

  <% @funcionarios.each do |funcionario| %>

  tabelaFuncionario.innerHTML = tabelaFuncionario.innerHTML +
      "<button onclick='selecionarCpfFuncionario(<%=funcionario.cpf %>);'>" +
      "<div class='menuTabela' style='width: 525px; background: #eeeeee; margin-left: -6px;'>" +
      "<div class='left colunaCorpoComum colunaIdFicheiro'> <%= funcionario.id %>  </div>" +
      "<div class='left colunaCorpoComum colunaNomeFicheiro'> <%= funcionario.nome %> </div>" +
      "<div class='left colunaCorpoComum colunaCpfFicheiro'>  <%= funcionario.cpf %> </div> </div> </button>";

  <% end %>
<% end %>

<%if(@contas != nil) %>
var tabelaContas = document.getElementById('tabelaContas');
tabelaContas.innerHTML = '';

<% cont = @contas.count - 1
while(cont >= 0)
  timer = @contas[cont].dataCompra
  data = timer.split(' ')[0].split('-')
  data = data[2] + '/' + data[1] + '/' + data[0] + ' ' + timer.split(' ')[1]
  if @contas[cont].juros > 0
    @contas[cont].valor += (@contas[cont].juros/100) * @contas[cont].valor;
  end
%>

  tabelaContas.innerHTML = tabelaContas.innerHTML +
    "<div class='menuTabela' style='width: 1140px; background: #ffffff;'>" +
    "<div class='left col-1 colunaCorpoComum colunaIdConta'> <%= @contas[cont].id %> </div>" +
    "<div class='left col-1 colunaCorpoComum colunaCliente'> <%= Cliente.pesquisaId(@contas[cont].cliente)[0].nome %> </div>" +
    "<div class='left col-5 colunaCorpoComum colunaDescricao'> <%= @contas[cont].descricao %> </div>" +
    "<div class='left col-3 colunaCorpoComum colunaValor'> <%= @contas[cont].valor %> </div>" +
    "<div class='left col-3 colunaCorpoComum colunaData'> <%= data %> </div>" +
    "<div class='left col-3 colunaBotoes' style='font-size: 18px; margin-top: -20px;'>" +
    "<a href=<%=edit_contum_path(@contas[cont])%> class='botao_tabela' >Editar</a>" +
    "</div><div class='left col-3 colunaBotoes' style='font-size: 18px; margin-top: -20px;'>" +
    "<a class='botao_tabela' data-confirm='Tem certeza que deseja excluir essa conta?' rel='nofollow' data-method='delete' href=<%= contum_path(@contas[cont]) %>>Deletar</a>" +
    "</div></div>";

<% cont -= 1
end %>
<% end %>


