<body>
<div id="wrap">
  <div id="masthead">
    <h1>Sistema Financeiro de Supermecado - Mercado São Caetano</h1>
    <h2><%= link_to 'Perfil', funcionarios_perfil_path %> | <%= link_to 'Contato', padrao_contato_path %> | <%= link_to 'Sair', logins_sair_path %></h2>
  </div>
  <div id="menucontainer">
    <div id="menu">
      <ul>
        <li><%= link_to 'Registro', new_contum_path, class:"current" %></li>
        <li><%= link_to 'Pagamento', pagamentos_path %></li>
        <li><%= link_to 'Contas', contums_path %></li>
        <li><%= link_to 'Cliente', clientes_path%></li>
        <%if Pessoa.getPessoaLogada.cargo == "gerente" %>
          <li><%= link_to 'Funcionário', funcionarios_path %></li>
        <%end%>
      </ul>
    </div>
  </div>
  <div id="container">

    <div id="content">

      <span class="titulo_formulario">
					Registrar uma conta de cliente
      </span>

      <% # formulario de pesquisa de cliente ......................................... %>
      <%= form_tag(new_contum_path, method: :get, remote:true, class:"formulario formulario_pesquisa") do %>

        <div class="elemento_formulario quantidade_elemento_linha_formulario", style="width: 460px;">
          <%= text_field_tag :pesquisaCliente, nil, class:"input100", placeholder:"Pesquise por nome, cpf e id" %>
          <span class="focus-input100"></span>
        </div>

        <div class="div_butao_formulario" style="margin-top: -70px; margin-left: 480px">
          <button class="botao_tabela" style="height: 50px">
						<span>
							Pesquisar
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
          </button>
        </div>

      <% end %>

      <% # formulario de pesquisa de funcionario......................................... %>
      <%= form_tag(new_contum_path, method: :get, remote:true, class:"formulario formulario_pesquisa") do %>

        <div class="elemento_formulario quantidade_elemento_linha_formulario" style="width: 460px; margin-left: 51.6%; margin-top: -85px;">
          <%= text_field_tag :pesquisaFuncionario, nil, class:"input100", placeholder:"Pesquise por nome, cpf e id" %>
          <span class="focus-input100"></span>
        </div>

        <div class="div_butao_formulario" style="margin-top: -70px; margin-left: 92%">
          <button class="botao_tabela" style="height: 50px">
						<span>
							Pesquisar
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
          </button>
        </div>

      <% end %>

      <% # tabela de clientes..................................... %>
      <div class="col-12" >

        <div class="menuTabela col-10 offset-1 row" style="width: 525px;">
          <div class="left colunaTituloComum colunaIdFicheiro"> Id </div>
          <div class="left colunaTituloComum colunaNomeFicheiro"> Cliente </div>
          <div class="left colunaTituloComum colunaCpfFicheiro"> Cpf </div>
        </div>

        <div id="tabelaCliente" style="height: 150px; width: 590px; overflow-y:auto; overflow-x:hidden; background: #eeeeee;">
          <% @clientes.each do |cliente| %>
            <button onclick="selecionarCpfCliente(<%=cliente.cpf %>)" id="<%="d-#{'cliente-'+cliente.cpf}"%>" >
              <div class="menuTabela" style="width: 525px; background: #eeeeee;; margin-left: -6px;">
                <div class="left colunaCorpoComum colunaIdFicheiro"> <%= cliente.id %> </div>
                <div class="left colunaCorpoComum colunaNomeFicheiro"> <%= cliente.nome %> </div>
                <div class="left colunaCorpoComum colunaCpfFicheiro"> <%= cliente.cpf %> </div>
              </div>
            </button>
          <% end %>
        </div>
      </div>

      <% # tabela de funcionarios ..................................... %>
      <div class="col-12" style="margin-left: 51.6%; margin-top: -216.5px">
        <div class="menuTabela col-10 offset-1 row" style="width: 525px;">
          <div class="left col-1 colunaTituloComum colunaIdFicheiro"> Id </div>
          <div class="left col-5 colunaTituloComum colunaNomeFicheiro"> Funcionário </div>
          <div class="left col-3 colunaTituloComum colunaCpfFicheiro"> Cpf </div>
        </div>

        <div id="tabelaFuncionario" style="height: 150px; width: 590px; overflow-y:auto; overflow-x:hidden; background: #eeeeee;">
          <% @funcionarios.each do |funcionario| %>
            <button onclick="selecionarCpfFuncionario(<%=funcionario.cpf %>)" id="<%="d-#{'funcionario-'+funcionario.cpf}"%>" >
              <div class="menuTabela col-10 offset-1 row pointer" style="width: 525px; background: #eeeeee; margin-left: -6px;">
                <div class="left col-1 colunaCorpoComum colunaIdFicheiro"> <%= funcionario.id %> </div>
                <div class="left col-5 colunaCorpoComum colunaNomeFicheiro"> <%= funcionario.nome %> </div>
                <div class="left col-3 colunaCorpoComum colunaCpfFicheiro"> <%= funcionario.cpf %> </div>
              </div>
            </button>
          <% end %>
        </div>
      </div>

      <%= form_with model: @contum, id:"FormularioConta", scope: :contum, url:contums_path, remote:true, class:"formulario" do |form| %>

        <div class="elemento_formulario quantidade_elemento_linha_formulario_ficheiro">
          <span class="label-elemento_formulario" name="cliente">Cpf Cliente</span><br>
          <%= form.text_field :cliente, id:"cliente", class:"input100", placeholder:"Cpf do cliente" %>
          <span class="focus-input100"></span>
        </div>

        <div class="elemento_formulario quantidade_elemento_linha_formulario_ficheiro">
          <span class="label-elemento_formulario" name="funcionario">Cpf Funcionário</span><br>
          <%= form.text_field :funcionario, id:"funcionario", class:"input100", placeholder:"Cpf do funcionário" %>
          <span class="focus-input100"></span>
        </div>

        <div class="elemento_formulario quantidade_elemento_linha_formulario">
          <%= form.label :valor, class:"label-elemento_formulario" %><br>
          <%= form.text_field :valor, class:"input100", placeholder:"Valor da conta" %>
          <span class="focus-input100"></span>
        </div>

        <div class="elemento_formulario quantidade_elemento_linha_formulario">
          <%= form.label :juros, class:"label-elemento_formulario" %><br>
          <%= form.text_field :juros, class:"input100", placeholder:"0.0" %>
          <span class="focus-input100"></span>
        </div>

        <div class="elemento_formulario quantidade_elemento_linha_formulario">
          <span class="label-elemento_formulario">Status</span>
          <div>
            <select class="selection_formulario_ficheiro" name="contum[status]">
              <%devendo = paga = atrasada = ''
                if @contum.status == nil || @contum.status == 'Devendo'
                  devendo = 'selected'
                elsif @contum.status == 'Paga'
                  paga = 'selected'
                else
                  atrasada = 'selected'
                end
              %>
              <option <%= devendo %>>Devendo</option>
              <option <%= paga %>>Paga</option>
              <option <%= atrasada %>>Atrasada</option>
            </select>
          </div>
          <span class="focus-input100"></span>
        </div>

        <div class="elemento_formulario quantidade_elemento_linha_formulario">
          <%= form.label :descrição, class:"label-elemento_formulario" %><br>
          <%= form.text_field :descricao, class:"input100", placeholder:"Descrição" %>
          <span class="focus-input100"></span>
        </div>

        <div class="elemento_formulario quantidade_elemento_linha_formulario">
          <%= form.label :comprador, class:"label-elemento_formulario" %><br>
          <%= form.text_field :comprador, class:"input100", placeholder:"Quem está comprando?" %>
          <span class="focus-input100"></span>
        </div>

        <div class="elemento_formulario quantidade_elemento_linha_formulario">
          <span class="label-elemento_formulario" name="parentesco">Grau de Parentesco do Comprador</span><br>
          <%= form.text_field :parentesco, class:"input100", placeholder:"Grau de parentesco" %>
          <span class="focus-input100"></span>
        </div>

        <div id="resultadoConta" class='status_processo'></div>

        <div class="div_butao_formulario">
          <button class="botao_formulario">
						<span>
							Adicionar
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
          </button>
        </div>

      <% end %>

      <% # formulario de pesquisa ......................................... %>
      <%= form_tag(new_contum_path, method: :get, remote:true, class:"formulario formulario_pesquisa") do %>

        <div class="elemento_formulario quantidade_elemento_linha_formulario">
          <%= text_field_tag :pesquisaConta, nil, class:"input100", placeholder:"Pesquise por data (Ex: 09/08/2018)" %>
          <span class="focus-input100"></span>
        </div>

        <div class="div_butao_formulario" style="margin-top: -70px; margin-left: 380px">
          <button class="botao_tabela" style="height: 50px">
						<span>
							Pesquisar
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
          </button>
        </div>

      <% end %>

      <% # tabela de cadastramento..................................... %>
      <div class="col-12" style="width: 1140px" >
        <div class="menuTabela" style="width: 1140px;">
          <div class="left col-1 colunaTituloComum colunaIdConta"> Id </div>
          <div class="left col-1 colunaTituloComum colunaCliente"> Cliente </div>
          <div class="left col-5 colunaTituloComum colunaDescricao"> Descrição </div>
          <div class="left col-3 colunaTituloComum colunaValor"> Valor </div>
          <div class="left col-3 colunaTituloComum colunaData"> Data de Compra </div>
          <div class="left col-3 colunaTituloComum colunaBotoes"></div>
          <div class="left col-3 colunaTituloComum colunaBotoes"></div>
        </div>

        <div id="tabelaContas" style="width: 1200px; height: 500px; overflow-y:auto; overflow-x:hidden;">
          <% cont = @contas.count() - 1
             while(cont >= 0)
          %>
            <div class="menuTabela" style="width: 1140px; background: #ffffff;">
              <div class="left col-1 colunaCorpoComum colunaIdConta"> <%= @contas[cont].id %> </div>
              <div class="left col-1 colunaCorpoComum colunaCliente"> <%= Cliente.pesquisaId(@contas[cont].cliente)[0].nome %> </div>
              <div class="left col-5 colunaCorpoComum colunaDescricao"> <%= @contas[cont].descricao %> </div>
              <div class="left col-3 colunaCorpoComum colunaValor"> <%= @contas[cont].valor %> </div>
              <%timer = @contas[cont].dataCompra
                data = timer.split(' ')[0].split('-')
                data = data[2].to_s + "/" + data[1].to_s + "/" + data[0].to_s + " " + timer.split(' ')[1].to_s
                if @contas[cont].juros > 0
                  @contas[cont].valor += (@contas[cont].juros/100) * @contas[cont].valor;
                end
              %>
              <div class="left col-3 colunaCorpoComum colunaData"> <%= data %> </div>
              <div class="left col-3 colunaBotoes" style="font-size: 18px; margin-top: -20px;">
                <%= link_to 'Editar', edit_contum_path(@contas[cont]), class:"botao_tabela", id:"d-#{'edit-'+@contas[cont].id.to_s}"%>
              </div>
              <div class="left col-3 colunaBotoes" style="font-size: 18px; margin-top: -20px;">
                <%= link_to 'Deletar', contum_path(@contas[cont]), class:"botao_tabela",
                            method: :delete, remote:true,
                            data: { confirm: 'Tem certeza que deseja excluir essa conta?' }, id:"d-#{'delete-'+@contas[cont].id.to_s}"%>
              </div>
            </div>
          <% cont-= 1
             end %>
        </div>
      </div>

    </div>

  </div>
  <div id="footer"> Mercado São Caetano - Centro do povoado Quandu, municipio de Poço de Trincheiras </div>
</div>
</body>